<header class="header" id="header">
<div class="header__inner">
  <h1 class="header__title">
    <%= link_to "ココイコ", root_path %>
    <div class="sidebar__button destination">
      <% if user_signed_in?  %>
        <%= link_to "目的地を追加", new_destination_path  %>
      <%end %>
    </div>
  </h1>
  <nav class="header__nav">
  <ul class="header__nav-list">

<!-- ログインしていたら下記 -->
<% if user_signed_in? %>
    <li class="header__nav-item"><%= link_to "旅行先", root_path %></li>
    <li class="header__nav-item"><%= link_to "プロフィール", user_path(current_user) %></li>
    <li class="header__nav-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
<% elsif %>
<!-- ログインしていなかったら下記 -->
    <li class="header__nav-item"><%= link_to "新規登録", new_user_registration_path %></li>
    <li class="header__nav-item"><%= link_to "ログイン", new_user_session_path %></li>
<% end %>
  </ul>
  </nav>
</div>
</header>

<div id="hamburger__icon" class="hamburger__icon">
  <div class="hamburger__icon__bars">
    <div class="hamburger__icon__bars1"></div>
    <div class="hamburger__icon__bars2"></div>
    <div class="hamburger__icon__bars3"></div>
  </div>
</div>
      

<div id="hamburger__content" class="hamburger__content">
  <div class="hamburger__content-items">
  <% if user_signed_in? %>
    <div class="hamburger__content-item"><%= link_to "旅行先", root_path %></div>
    <div class="hamburger__content-item"><%= link_to "プロフィール", user_path(current_user) %></div>
    <div class="hamburger__content-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></div>
    <% elsif %>
    <div class="hamburger__content-item"><%= link_to "新規登録", new_user_registration_path %></div>
    <div class="hamburger__content-item"><%= link_to "ログイン", new_user_session_path %></div>
  <% end %>
  </div>
</div>
      
<div id="hamburger__background" class="hamburger__background"></div>