<div class="divide__inner">
  <%= render 'shared/aside' %>
  <main class="main index__main">
    <div class="destination_inner">

      <div class="destination__head">
        <p class="destination__head-location"><%= @destination.destination %></p>
        <p class="destination__head-date">
          <% if @destination.date.present? %>
            <%= @destination.date %>
          <% else %>
            日程未定
          <% end %>
        </p>
      </div>

      <ul class="destination__button">
        <li class="destination__button-item">
          <%= link_to "編集", edit_destination_path(@destination) %>
        </li>
        <li class="destination__button-item">
          <%= link_to "削除", destination_path(@destination), method: :delete %>
        </li>
      </ul>

        <!-- リスト部 -->
      <%= render "dl" %>
      <%= render "dl_mobile" %>

      
    </div>
  </main>
</div>