<!DOCTYPE html>
<html>
  <head>
    <title>ココイコ！!</title>
    <meta name="description" content="行きたい場所を忘れない。 ここ行きたい!!を保存しよう">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="twitter:card" content="summary" /> <!--①-->
    <meta name="twitter:site" content="@tee__eng" /> <!--②-->
    <meta property="og:url" content="https://kokoiko-app.herokuapp.com/" /> <!--③-->
    <meta property="og:title" content="ココイコ！！" /> <!--④-->
    <meta property="og:description" content="行きたい場所を忘れない。 ここ行きたいを保存しよう。" /> <!--⑤-->
    <meta property="og:image" content="https://kokoiko-app.herokuapp.com/packs/media/images/top-img2-87a41508.jpg" /> <!--⑥-->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag('favicon.ico') %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header__adjust">
      <%= render "shared/header" %>
        
      <% if flash[:notice] %>
        <div class="alert alert-info">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert alert-danger">
          <%= flash[:alert] %>
        </div>
      <% end %>

          <%= yield %>
    
    </div>
  </body>
</html>
